In [1]:
# 导入数据
import pandas as pd
df_001 = pd.read_csv(r'D:\研究生资料\玛氏数据\7-1\SKU_Range_Total_001.csv')
df_002 = pd.read_csv(r'D:\研究生资料\玛氏数据\7-1\SKU_Range_Total_002.csv')
df_003 = pd.read_csv(r'D:\研究生资料\玛氏数据\7-1\SKU_Range_Total_003.csv')

In [2]:
df_001.head(3)

   store_code                                    SKU_Range_Total  cat_id
0    51008218  0000000000000000000000000000000000000000000000...       1
1    52129581  0000000000000000011000000000000000000000000000...       1
2    50507134  0000000000000000001100000000000000000000000000...       1

In [30]:
df_001.loc[df_001['store_code']==59880884,'SKU_Range_Total']

Series([], Name: SKU_Range_Total, dtype: object)

In [31]:
df_001.loc[df_001['store_code']==59880885,'SKU_Range_Total']

Series([], Name: SKU_Range_Total, dtype: object)

In [19]:

list_srt_1=list(df_001.loc[df_001['store_code']==59920458,'SKU_Range_Total'].values[0])
list_num_1 = [int(x) for x in list_srt_1]
list_srt_2=list(df_001.loc[df_001['store_code']==59921200,'SKU_Range_Total'].values[0])
list_num_2 = [int(x) for x in list_srt_2]
# 对比,是否相同，相同加1
sum_eq=0
for k in range(len(list_num_1)):
    if list_num_1[k]&list_num_2[k]:
        sum_eq+=1
print(sum_eq)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [17]:
list_srt_1=list(df_002.loc[df_002['store_code']==60844788,'SKU_Range_Total'].values[0])
list_num_1 = [int(x) for x in list_srt_1]
list_srt_2=list(df_002.loc[df_002['store_code']==60844791,'SKU_Range_Total'].values[0])
list_num_2 = [int(x) for x in list_srt_2]
# 对比,是否相同，相同加1
sum_eq=0
for k in range(len(list_num_1)):
    if list_num_1[k]&list_num_2[k]:
        sum_eq+=1
print(sum_eq)

0

In [18]:
list_srt_1=list(df_003.loc[df_003['store_code']==60844788,'SKU_Range_Total'].values[0])
list_num_1 = [int(x) for x in list_srt_1]
list_srt_2=list(df_003.loc[df_003['store_code']==60844791,'SKU_Range_Total'].values[0])
list_num_2 = [int(x) for x in list_srt_2]
# 对比,是否相同，相同加1
sum_eq=0
for k in range(len(list_num_1)):
    if list_num_1[k]&list_num_2[k]:
        sum_eq+=1
print(sum_eq)

6