In [1]:
# 导入数据
import pandas as pd
df = pd.read_excel(r'D:\研究生资料\玛氏数据\7-5\雪峰访店频率-XGBOOST(1).xlsx',sheet_name='测试数据')

In [2]:
df['channel_name3'].unique()

array(['亭摊档和其他', '仓卖店', '烟酒店', '食杂店', '小型超市C', '临街餐饮'], dtype=object)

In [3]:
aa=['亭摊档和其他', '仓卖店', '烟酒店', '食杂店', '小型超市C', '临街餐饮']
df.insert(loc=2,column='label',value=df['channel_name3'].apply(lambda x : aa.index(x)+1))

In [4]:
df.to_excel(r'D:\研究生资料\玛氏数据\7-5\测试数据2.xlsx')

In [5]:
#xuefeng -XGBOOST
df2 = pd.read_excel(r'D:\研究生资料\玛氏数据\7-5\xuefeng -XGBOOST.xlsx')

In [6]:
df2.head(3)

,store_code,channel_name3,time_to_last,order_month_this,order_year_this,last_order_case,avg_case_3M,week2_visited,is_promotion,next_order_date,next_order_sum,time_to_next,next_order_year,next_order_month
0,50007025,小型超市C,21,11,2019,2.691667,4.573264,0,1,2019-11-28 11:42:50,390.04,20,2019,11
1,50018951,小型超市C,18,12,2019,0.966667,0.791667,0,1,2019-12-24 15:38:09,105.00,15,2019,12
2,50018981,小型超市C,63,3,2020,2.850000,2.850000,0,1,2020-04-10 14:26:59,113.92,38,2020,4

In [9]:
list(df2['channel_name3'].unique())

['小型超市C',
 '亭摊档和其他',
 '仓卖店',
 '食杂店',
 '烟酒店',
 '小型超市A',
 '其他',
 '临街餐饮',
 '小型超市B',
 '大众便利店',
 '加油站',
 '婚庆',
 '餐饮测试项目',
 '连锁餐饮',
 '药店',
 '网吧']

In [10]:
bb=list(df2['channel_name3'].unique())
df2.insert(loc=2,column='label',value=df2['channel_name3'].apply(lambda x : bb.index(x)+1))

In [11]:
df2.to_excel(r'D:\研究生资料\玛氏数据\7-5\xuefeng -XGBOOST(2).xlsx')